<div class="slds-form slds-form_stacked currency-converter-container">
  <div class="slds-media__body">
    <h1 class="slds-page-header__title slds-truncate slds-align-left" title="Currency Converter">Currency Converter</h1>
  </div>
  <div class="slds-form-element">
    <label class="slds-form-element__label" for="from-currency">Type in amount and select currency:</label>
    <div class="slds-form-element__control">
      <input type="text" id="from-currency" class="slds-input" placeholder="0.00" />
    </div>
    <div class="slds-form-element__control">
      <div class="slds-select_container">
        <select class="slds-select" id="select-01">
          <option value="">Please select</option>
          <option>Option One</option>
          <option>Option Two</option>
          <option>Option Three</option>
        </select>
      </div>
    </div>
  </div>
  <div class="slds-form-element">
    <label class="slds-form-element__label" for="to-currency">Converted amount:</label>
    <div class="slds-form-element__control">
      <input type="text" id="to-currency" class="slds-input" placeholder="0.00" />
    </div>
    <div class="slds-form-element__control">
      <div class="slds-select_container">
        <select class="slds-select" id="select-01">
          <option value="">Please select</option>
          <option>Option One</option>
          <option>Option Two</option>
          <option>Option Three</option>
        </select>
      </div>
    </div>
  </div>
  <div class="slds-text-link-container">
    <a href="javascript:void(0);" class="slds-text-link" title="Disclaimer">
      <span class="slds-text-heading_small">Disclaimer</span>
    </a>
  </div>




</div>
